<template>
  <Layout>
    <!-- Heading -->
    <div class="heading">
      <!-- Title -->
      <div class="title">
        <div>
          <h1 class="h3"> {{ $page.device.name }} </h1>
          <button class="btn btn-tertiary btn-small btn-rounded ml-4 mt-1" @click="buy">Buy</button>
        </div>
        <p>
          <a href="#">{{ $page.device.portType }}</a>
        </p>
      </div>
    </div>


    <!-- Progress -->
    <p class="bold mb-1">Overall progress</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" :style="{ width: $page.device.maturity*100 + '%' }" :aria-valuenow="$page.device.maturity" aria-valuemin="0" aria-valuemax="1"></div>
    </div>


    <PortStatus v-if="$page.device.portStatus.length"/>
    <DeviceInfo v-if="$page.device.deviceInfo.length"/>


    <!-- Steps -->
    <div v-if="$page.device.installHelp" class="steps">
      <h2 class="h3">Instructions</h2>
      <div v-if="$page.device.installHelp.default">
        <p class="bold mb-1">This is how the instructions would look for most devices with the installer:</p>
        <p> - <span class="bold">Go to Settings > About phone</span> and tap on Build Number until Developer settings are enabled</p>
        <p> - <span class="bold">Enable</span> OEM Unlocking and USB debugging in Developer settings</p>
        <p v-if="$page.device.installHelp.rebootToBootloader"> - {{$page.device.installHelp.rebootToBootloader}}to <span class="bold">reboot to bootloader</span></p>
        <p v-else> - <span class="bold">Reboot to bootloader</span></p>
        <p> - <span class="bold">Install </span> <a class="link" href="https://developer.android.com/studio/releases/platform-tools">fastboot and adb</a> on your pc, then run fastboot oem unlock</p>
        <p> - <span class="bold">Reboot</span> the device again to bootloader</p>
        <p> - Open the <span class="bold">Ubports installer</span> and follow onscreen istructions</p>
        <p> - <span class="bold">Well done!</span> Your device will automatically reboot to UT.</p>
      </div>
      <div v-else v-html="$page.device.content"></div>
    </div>


    <Installer v-if="!$page.device.noInstall"/>


    <!-- No Installer -->
    <div v-if="$page.device.noInstall" class="ports-banner no-installer">
      <p class="bold">
        <a :href="$page.device.installLink">This device hasn’t been added to Intaller yet, Check repo instead.</a>
      </p>
    </div>


    <!-- Contributes & Discussions -->
    <div v-if="$page.device.contributors.length || $page.device.externalLinks.length" class="contributes-discussions">
      <!-- Contributes -->
      <div v-if="$page.device.contributors.length" class="contributes">
        <h2 class="h3 light">Contributes</h2>
        <ul>

          <!-- Person -->
          <li v-for="person in $page.device.contributors" :key="person.name">
            <a :href="person.forum">
              <img :src="person.photo ? person.photo : '/img/icons/yumi3d.jpg'" alt="person-img">
              <p>{{ person.name }}</p>
            </a>
          </li>
        </ul>
      </div>


      <!-- Discussions -->
      <div v-if="$page.device.externalLinks.length" class="discussions">
        <h2 class="h3 light">Discussions</h2>
        <ul>

          <!-- Link -->
          <li v-for="link in $page.device.externalLinks" :key="link.name">
            <a :href="link.link">
              <img :src="'/img/icons/' + link.icon + '.svg'" alt="link-icon" class="social-media-icon">
              {{link.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div v-if="!$page.device.noInstall" class="installer-video">
      <h2 class="h3 bold">Lost while flashing your device?</h2>
      <p>Watch our awesome <a href="https://www.youtube.com/watch?v=zuLFTGkuD68">tutorial</a></p>
    </div>
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    id
    codename
    name
    deviceType
    portType
    maturity
    noInstall
    installLink
    content
    portStatus {
      categoryName
      features { id value bugtracker }
    }
    deviceInfo {
      id value
    }
    contributors {
      name photo forum
    }
    externalLinks {
      name link icon
    }
    installHelp {
      default rebootToBootloader
    }
  }
}
</page-query>

<script>
import PortStatus from "~/components/devices/PortStatus.vue";
import DeviceInfo from "~/components/devices/DeviceInfo.vue";
import Installer from "~/components/devices/Installer.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "description",
          content: `Everything you need to know about Ubuntu Touch for ${this.$page.device.name}.`
        },
        {
          property: "og:title",
          content: `Ubuntu Touch for ${this.$page.device.name}`
        }
      ]
    };
  },
  components: {
    PortStatus,
    DeviceInfo,
    Installer
  },
  methods: {
    buy() {
      window.location.href =
        "https://swappa.com/search?q=" + this.$page.device.name;
    }
  }
};
</script>
