<template>
  <!-- Footer -->
  <footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
          <p class="bold">Powered By</p>
          <a href="http://www.ubports.com/">
            <img src="/img/icons/ubports-logo.svg" alt="ubports-logo">
          </a>
        </div>
        <!-- Text -->
        <p class="footer-text">UBport is a global non-profit dedicated to putting you in control of the future of
          the mobile for the public good.</p>
        <!-- Social -->
        <div class="footer-social">
          <p class="bold">Follow Us</p>
          <ul>
            <!-- Icon -->

            <li>
              <a href="https://forums.ubports.com/" target="_blank">
                <img src="/img/icons/yumi.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>


            <li>
              <a href="https://soundcloud.com/ubports" target="_blank">
                <img src="/img/icons/soundcloud.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://framapiaf.org/@ubports" target="_blank">
                <img src="/img/icons/mastodon.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://pixelfed.social/ubports" target="_blank">
                <img src="/img/icons/pixelfed.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://www.linkedin.com/company/ubports-com" target="_blank">
                <img src="/img/icons/linkedin.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://www.facebook.com/ubports/">
                <img src="/img/icons/facebook.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://twitter.com/ubports">
                <img src="/img/icons/twitter.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://www.instagram.com/ubports/" target="_blank">
                <img src="/img/icons/instagram.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://www.youtube.com/c/UBports" target="_blank">
                <img src="/img/icons/youtube.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://ubports.com/blog/ubports-blog-1/feed" target="_blank">
                <img src="/img/icons/rss.svg" alt="social-media-icon" class="social-media-icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <p>© Copyright 2020 Ubports Technologies Inc.<span class="d-none d-xl-inline">•</span></p>
        <p>Ubuntu and Canonical are registered trademarks of Canonical Ltd.<span class="d-none d-xl-inline">•</span></p>
        <p class="d-none d-lg-flex">
          <a href="#">License CC-BY-SA-4.0<span>•</span></a>
          <a href="#">Terms & conditions<span>•</span></a>
          <a href="#">Privacy policy<span>•</span></a>
          <a href="https://gitlab.com/capsia/ubuntu-touch.io/-/issues">Submit an issue</a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>
