<template>
  <Layout>
      <div class="content">
        <!-- Choose Device -->
        <div class="choose-device" @click="toggleChoose">
          <img src="/img/ports/choose-device.jpg" alt="choose-device-img">
          <h2 class="h3">Choose device</h2>
          <p>See map progress</p>
        </div>
      </div>
  </Layout>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: "Devices",
      meta: [
        {
          name: "description",
          content: `Explore devices compatible with Ubuntu Touch`
        },
        {
          property: "og:title",
          content: `Explore devices compatible with Ubuntu Touch`
        }
      ]
    };
  },
  methods: {
    toggleChoose() {
      this.$root.$emit("bv::toggle::collapse", "sidebarCollapse");
    }
  }
};
</script>
