// -----------------------------------------------------------------------------
// This file contains styles that are specific to the regular page.
// -----------------------------------------------------------------------------

// Hero
.page-hero {
  img {
    max-width: 100%;
    width: 100%;
  }
}

// Page Content
.page-content {
  padding: 80px 0 120px 0;

  @media (max-width: 991.98px) {
    padding: 40px 0 60px 0;
    overflow: hidden;
  }

  .container {
    display: flex;
    align-items: flex-start;

    @media (min-width: 1300px) {
      max-width: 1100px;
    }

    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }


  .content {
    flex: 0 0 70%;
    padding-right: 45px;

    .h1,
    .h2 {
      margin-bottom: 45px;
      line-height: 1;

      @media (max-width: 991.98px) {
        margin-bottom: 35px;
      }
    }

    .h3 {
      margin-bottom: 35px;

      @media (max-width: 1299.98px) {
        margin-bottom: 25px;
      }
    }

    .h4 {
      margin-bottom: 15px;
    }

    p {
      font-size: 17px;
      margin-bottom: 15px;
      line-height: 1.5;

      @media (max-width: 991.98px) {
        margin-bottom: 25px;
      }
    }

    @media (max-width: 991.98px) {
      flex: 0;
      padding-right: 0;
    }
  }

  .read-more {
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
    flex: 0 0 30%;
    color: white;
    padding: 40px 50px;

    h2 {
      margin-bottom: 10px;
    }

    ul {
      line-height: 1.75;
    }

    a:hover {
      text-decoration: underline;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, $ubuntu-purple-light, $ubuntu-orange);
      z-index: -1;

      @media (max-width: 991.98px) {
        width: 150%;
        transform: translateX(-15%);
      }
    }

    @media (max-width: 991.98px) {
      flex: 0;
      width: 100%;
      margin-top: 20px;
      padding: 40px 0 45px 0;
      position: relative;
      top: 0;
    }
  }
}

// Page Content Sidebar
.page-content--sidebar {
  padding: 80px 0 50px 0;

  @media (max-width: 1199.98px) {
    padding: 50px 0;
  }

  @media (max-width: 991.98px) {
    padding: 30px 0;
  }

  .container {
    @media (min-width: 1300px) {
      max-width: $container-large;
    }

    @media (max-width: 991.98px) {
      flex-direction: column-reverse;
    }
  }

  .content {
    padding-right: 100px;

    @media (max-width: 1299.98px) {
      padding-right: 60px;
    }

    @media (max-width: 991.98px) {
      padding-right: 0;
    }
  }

  .sidebar {
    position: sticky;
    top: 120px;
    flex: 0 0 30%;

    .collapse {
      @media (min-width: 992px) {
        display: block !important;
      }
    }

    &-banner {
      border: 1px solid $gray-light;
      background-color: $off-white;
      padding: 25px;
      margin-bottom: 25px;

      .btn {
        margin-top: 15px;
      }

      @media (max-width: 991.98px) {
        margin-top: 10px;
      }
    }

    &-navigation {
      h3 {
        margin-bottom: 25px;
      }

      ul {
        padding-left: 25px;
        display: block;
      }

      a {
        padding: 0 !important;
        padding-left: 12px !important;
        line-height: 2.5;
        background-color: white;
        color: black;
        border: none;
        border-left: 3px solid $gray-light;
        border-radius: 0;
        letter-spacing: 0.029em;

        &.active {
          border-color: black;
          font-weight: 700;
          letter-spacing: 0;
        }
      }

      a:hover {
        text-decoration: underline;
      }

      @media (max-width: 991.98px) {
        margin-bottom: 25px;
      }
    }

    &-toggler {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px 0;
    }

    @media (max-width: 991.98px) {
      position: relative;
      top: 0;
      width: 100%;
      flex: 0;
      margin-bottom: 35px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 1px;
        width: 200%;
        background-color: $gray-light;
        transform: translateX(-50%);
      }
    }
  }
  .boxed::after {
    content:'';
    position:absolute;
    left:0;
    top:0px;
    width:100%;
    height:100%;
    background-color: #FBFBFB;
    z-index:-1;
  }
  .boxed {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top:15px;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  @media (min-width: 991.98px) {
    .boxed {
     flex: 0 0 50%;
     max-width: 49%;
    }
  }
  .boxed a {
    color:#4B39FF;
    font-weight:bold;
  }
}

// Page Links
.page-links {
  margin-top: 200px;

  @media (max-width: 1199.98px) {
    margin-top: 100px;
  }

  // Resources
  .page-resources {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    line-height: 2;

    @media (max-width: 1299.98px) {
      flex-direction: column;
    }

    &>div:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 50px;

      @media (max-width: 1299.98px) {
        margin-bottom: 40px;
        margin-right: 0;
      }
    }

    .arrow {
      margin-right: 15px;
    }
  }

  // Discussions
  .page-discussions {
    ul {
      display: flex;
      padding-left: 30px;
      flex-wrap: wrap;

      li {
        min-width: 185px;
        margin-bottom: 30px;
        padding-right: 15px;
      }

      a {
        display: flex;
        align-items: center;

        img {
          margin-right: 15px;
        }
      }
    }
  }
}

// FAQ's
.page-faq {
  background-color: $off-white;
  margin-bottom: 4px;
  padding: 65px 0;

  @media (max-width: 991.98px) {
    padding: 50px 0;
  }

  .container {
    @media (min-width: 1200px) {
      max-width: $container-large;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 991.98px) {
      margin-bottom: 40px;
    }
  }

  .questions {
    max-width: 680px;
    margin: 0 auto;
  }

  ul {
    margin-bottom: 50px;

    @media (max-width: 991.98px) {
      margin-bottom: 40px;
    }
  }

  li {
    background-color: white;
    border-radius: 6px;
    padding: 12px 20px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &>a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: color .3s ease;
      letter-spacing: 0.029em;

      img {
        transition: all .3s ease;
      }

      &[aria-expanded="true"] {
        font-weight: 700;
        color: $purple;
        letter-spacing: 0;
      }

      &[aria-expanded="false"] {
        img {
          transform: rotate(-90deg);
        }
      }
    }

    .collapse p,
    .collapsing p {
      margin-top: 8px;
    }
  }
}
