<template>
  <!-- Specifications -->
  <div class="specifications">
    <p class="bold">Device specifications</p>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr v-for="info in $page.device.deviceInfo" :key="info.id">
            <td>{{commonNames[info.id]}}</td>
            <td>{{info.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "DeviceInfo",
  data: function() {
    return {
      commonNames: {
        cpu: "CPU",
        chipset: "Chipset",
        gpu: "GPU",
        rom: "Storage",
        ram: "Memory",
        android: "Android Version",
        battery: "Battery",
        display: "Display",
        rearCamera: "Rear Camera",
        frontCamera: "Front Camera",
        arch: "Architecture",
        dimensions: "Dimensions"
      }
    };
  }
};
</script>
