<template>
  <!-- Installer -->
  <div class="ports-banner installer">
    <h2 class="h3">Installer</h2>
    <div class="btns">
      <!-- Ubuntu -->
      <button class="btn btn-download" @click="deb">
        <img class="system-icon" src="/img/icons/ubuntu.svg" alt="ubuntu-img">
        <div>
          <p class="bold">Ubuntu</p>
          <p>deb (64)</p>
        </div>
        <img class="download-icon" src="/img/icons/download.svg" alt="download-icon">
      </button>
      <!-- Mac -->
      <button class="btn btn-download" @click="dmg">
        <img class="system-icon" src="/img/icons/mac.svg" alt="mac-img">
        <div>
          <p class="bold">Mac</p>
          <p>dmg</p>
        </div>
        <img class="download-icon" src="/img/icons/download.svg" alt="download-icon">
      </button>
      <!-- Windows -->
      <button class="btn btn-download"  @click="exe">
        <img class="system-icon" src="/img/icons/win.svg" alt="win-img">
        <div>
          <p class="bold">Windows</p>
        </div>
        <img class="download-icon" src="/img/icons/download.svg" alt="download-icon">
      </button>
      <!-- Linux Snap -->
      <button class="btn btn-download" @click="snap">
        <img class="system-icon" src="/img/icons/linux.svg" alt="linux-img">
        <div>
          <p class="bold">Linux</p>
          <p>snap</p>
        </div>
        <img class="download-icon" src="/img/icons/download.svg" alt="download-icon">
      </button>
      <!-- Linux AppImage -->
      <button class="btn btn-download"  @click="appimage">
        <img class="system-icon" src="/img/icons/appimage.svg" alt="appimage-img">
        <div>
          <p class="bold">AppImage</p>
        </div>
        <img class="download-icon" src="/img/icons/download.svg" alt="download-icon">
      </button>
    </div>
    <p>Simply plug in your device and follow the on-screen instructions. Then sit back and let your computer do all the work.</p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Installer",
  async mounted() {
    let requestedPackage = this.getUrlParameters().package;
    if (requestedPackage)
      window.location.href = await this.getAssetUrl(requestedPackage);
  },
  methods: {
    async deb() {
      window.location.href = await this.getAssetUrl("deb");
    },
    async exe() {
      window.location.href = await this.getAssetUrl("exe");
    },
    async dmg() {
      window.location.href = await this.getAssetUrl("dmg");
    },
    snap() {
      window.location.href = "https://snapcraft.io/ubports-installer";
    },
    async appimage() {
      window.location.href = await this.getAssetUrl("AppImage");
    },
    async getAssetUrl(packageType) {
      try {
        const results = await axios.get(
          "https://api.github.com/repos/ubports/ubports-installer/releases/latest"
        );
        return results.data.assets.find(asset =>
          asset.name.toLowerCase().endsWith(packageType.toLowerCase())
        ).browser_download_url;
      } catch (error) {
        console.log(error);
      }
    },
    getUrlParameters() {
      let ret = {};
      window.location.href.replace(
        /[?&]+([^=&]+)=([^&]*)/gi,
        (_, property, value) => {
          ret[property] = value;
        }
      );
      return ret;
    }
  }
};
</script>
