<template>
  <!-- Built With -->
  <div 
    class="built-with"
    :class="portClass"
  >
    <h3 class="h3">Port a device!</h3>
    <p>Sure, three billion devices run Java. But did you know that {{ this.$static.allDevice.totalCount }} devices run Ubuntu Touch? <a class="link" href="http://docs.halium.org/en/latest/porting/first-steps.html">Learn how to port your device.</a></p>
    <img src="/img/ports/java.svg" alt="java-img">
  </div>
</template>

<static-query>
query {
  allDevice {
    totalCount
  }
}
</static-query>

<script>
export default {
  name: "NewPort",
  props: {
    mobile: Boolean
  },
  data: function() {
    return {
      portClass: {
        "d-none": !this.mobile,
        "d-lg-block": !this.mobile,
        "d-lg-none": this.mobile
      }
    };
  }
};
</script>
